<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head.ejs')  %> 
<link rel="stylesheet" href="../../public/main.css">
</head>
<body>
    <%- include('partials/header.ejs')  %> 

    <form action="/artist//<%= artist._id %>?_method=PUT" method="post" >
        <!-- (Name) -->
        <label for="name">Name</label>
            <input type="text" name="name" />
        <!-- (Creations) -->
        <label for="creations">Creations</label>
            <input type="text" name="creations" />
        <!-- (Owned NFTs) -->
        <label for="ownedNFT">Owned NFTs</label>
            <input type="number" name="ownedNFT" />
        <!-- (Liked) -->
        <label for="liked">Liked</label>
            <input type="number" name="liked" />
        <!-- (About) -->
            <label for="about">About</label>
                 <input type="text" name="about" />
        
        <button type="submit">SUBMIT</button>
    </form>
        <%- include('partials/footer.ejs')  %> 
</body>
</html>