<%- include('partials/head.ejs')  %> 
<body>
    <div>
    <form action="/artist" method="post" >
        <!-- (Name) -->
        <label for="name">Name</label>
            <input type="text" name="name" />
        <!-- (Creations) -->
        <label for="creations">Creations</label>
            <input type="text" name="creations" />
        <!-- (Owned NFTs) -->
        <label for="ownedNFT">Owned NFTs</label>
            <input type="number" name="ownedNFT" />
        <!-- (Liked) -->
        <label for="liked">Liked</label>
            <input type="number" name="liked" />
        <!-- (About) -->
            <label for="about">About</label>
                 <input type="text" name="about" />
        
        <button type="submit">SUBMIT</button>
    </div>
</body>
</html>