<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head.ejs')  %> 
<link rel="stylesheet" href="../../public/main.css">
</head>
<body>
    <%- include('partials/header.ejs')  %> 

    <div>
    <form action="/nft" method="post" >
        <!-- (Image) -->
        <label for="image">Image</label>
            <input type="text" name="image" />
        <!-- (Name) -->
        <label for="name">Name</label>
            <input type="text" name="name" />
        <!-- (Floor Price) -->
        <label for="floorPrice">Floor Price</label>
            <input type="number" name="floorPrice" />
        <!-- (Current Price) -->
        <label for="currentPrice">Current Price</label>
            <input type="number" name="currentPrice" />
        <!-- (Owners) -->
        <label for="owners">Owners</label>
            <input type="number" name="owners" />
            
        <button type="submit">SUBMIT</button>
    </form>
    </div>
<%- include('partials/footer.ejs')  %> 
</body>
</html>