/* ------------------------------ */
           /* Body  */
body{
    background-color: red;
}

a:link {
    text-decoration: none;
}      
a:visited {
    text-decoration: none;
  }
/* ------------------------------ */



/* ------------------------------ */
          /* Index EJS */

#artist-card {
    text-align: center;
}

/* ------------------------------ */





/* ------------------------------ */
           /* New Artist  */


/* ------------------------------ */





/* ------------------------------ */
         /* Show Buttons */
.showBtn{
display: inline;
}

/* ------------------------------ */




/* ------------------------------ */
         /* Show Artist */
.aShowCard {
    border: absolute black;
}

/* ------------------------------ */






/* ------------------------------ */
          /* Edit Artist  */



/* ------------------------------ */




/* ------------------------------ */
           /* New NFT  */
/* ------------------------------ */




/* ------------------------------ */
           /* Show NFT */
/* ------------------------------ */




/* ------------------------------ */
           /* Edit NFT  */
/* ------------------------------ */


