/* ------------------------------ */
           /* Body  */
body{
    background-color: lightgray;
}
a:link {
    color: black;
}
/* ------------------------------ */





/* ------------------------------ */
          /* Index EJS */

a:link {
    text-decoration: none;
}      
a:visited {
    text-decoration: none;
}
#artist-card {
    text-align: center;
}
#artistHeader{
    margin-top:20px;
    text-align: center;
    text-decoration: underline;

}
#nft-card {
    text-align: center;
}
#nftHeader{
    margin-top:20px;
    text-align: center;
    text-decoration: underline;
}
.product-card{
    border: 5px solid black;
    border-radius: 5%;
    width: 40%;
    margin: auto
    
    
}
/* ------------------------------ */





/* ------------------------------ */
           /* New Artist  */


/* ------------------------------ */





/* ------------------------------ */
         /* Show Buttons */
.showBtn{
display: inline;
}
/* ------------------------------ */




/* ------------------------------ */
         /* Show Artist */
.aShowCard {
    border: 5px solid black;
    width: 40%;
    margin: auto;
    text-align: center;
}

/* ------------------------------ */






/* ------------------------------ */
          /* Edit Artist  */



/* ------------------------------ */




/* ------------------------------ */
           /* New NFT  */
/* ------------------------------ */




/* ------------------------------ */
           /* Show NFT */
.nShowCard {
    border: 5px solid black;
    width: 40%;
    margin: auto;
    text-align: center;

}
/* ------------------------------ */




/* ------------------------------ */
           /* Edit NFT  */

.form {
    display: block;
}
/* ------------------------------ */


